@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans-b';
  src: url('../fonts/OpenSans-Bold.woff');
  font-style: normal;
  font-weight: 700;
}

/* Common */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans';
  font-size: 14px;
}

.container {
  margin: 0 auto;

  max-width: 1170px;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Header */

.header {
  position: relative;

  padding-top: 30px;
  padding-bottom: 130px;

  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;

  color: #ffffff;
}

.header::before {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  content: "";
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.header__container_position {
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}

.nav__logo {
  flex-grow: 3;
}

.nav__logo img {
  width: 180px;
  height: auto;
}

.nav__menu-list {
  flex-grow: 1;

  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
}

.header__heading {
  width: 60%;
  margin: 0 auto;

  text-transform: uppercase;
  font-family: 'OpenSans-b';
  font-size: 45px;
  line-height: 160%;
  text-align: center;
}

/* Trends */

.trends {
  margin-bottom: 60px;
}

.trends .trends__heading {
  font-size: 20px;
  margin-bottom: 37px;
}

.trend-items {
  display: flex;
  justify-content: center;
}

.trend__item:nth-of-type(n+2) {
  margin-left: 5px;
}

.trend__item {
  position: relative;
  box-sizing: border-box;
  padding: 135px 20px 15px;
  width: 410px;


  background-color: #000000;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: end;
}

.trend__item::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: "";
  background-color: rgba(0, 0, 0, .5);
}

.trend1 {
  background-image: url(../img/trend1.jpg);
}

.trend2 {
  background-image: url(../img/trend2.jpg);
}

.trend3 {
  background-image: url(../img/trend3.jpg);
}

.trend4 {
  background-image: url(../img/trend4.jpg);
}

.trend-post__border {
  position: relative;
  z-index: 2;

  padding: 40px 36px;
  border: 3px solid #b59f5b;
}

.trend-post__border .trend-post__heading {
  color: #ffffff;
  margin-bottom: 0;
}

/* Main */

.main {
  background-color: #ffffff;

  padding-top: 60px;
  padding-bottom: 65px;
}

.main__container_content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.article {
  display: flex;
  justify-content: space-between;
}

.post-list__article:nth-of-type(n+2) {
  margin-top: 50px;
}

.article__img {
  width: 380px;
  align-self: center;
}

.article__img img {
  max-width: 100%;
}

.article__text {
  margin-left: 30px;

  width: 370px;
}

.article__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  list-style: none;

  font-family: 'OpenSans-b';
  color: #baa66a;
  font-size: 14px;
  text-transform: uppercase;
}

.article__tags a {
  margin-right: 20px;
}

.article__heading {
  margin-bottom: 30px;

  font-family: 'OpenSans-b';
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}

.article__info {
  display: flex;

  margin-bottom: 40px;
}

.article__date {
  align-self: center;

  font-size: 12px;
  color: #888888;

  margin-right: 15px;
}

.article__author {
  font-family: 'OpenSans-b';
  max-width: 250px;
}

.article__news {
  font-size: 15px;
  line-height: 150%;
}

.article__news:nth-of-type(n+2) {
  margin-top: 15px;
}

/* Aside */

.sidebar {
  width: 280px;
}

.new-posts {
  margin-bottom: 60px;
}

.new-posts__news {
  margin-bottom: 20px;
}

.sidebar__heading {
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  position: relative;
  margin-bottom: 47px;
}

.sidebar__heading::after {
  position: absolute;
  bottom: -17px;
  left: 0;
  right: 0;
  margin: 0 auto;

  content: "";
  width: 66px;
  border-bottom: 3px solid #baa66a
}

.new-posts__news {
  display: flex;
  width: 100%;
}

.news__img {
  width: 70px;
}

.news__text {
  margin-left: 20px;
}

.news__heading {
  font-family: 'OpenSans-b';
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
}

.search-form {
  width: 100%;
  margin-bottom: 60px;

  display: flex;
}

.search-form__input {
  flex-grow: 1;
}

.search-form__input_style {
  padding: 15px;

  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
}

.search-form__input_style::placeholder {
  font-size: 13px;
}

.search-form__input_style:focus {
  outline: 1px solid #b59f5b;
}

.search-form__btn {
  width: 48px;
  height: 48px;
  padding: 14px;
}

.btn_style {
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.btn_style:hover {
  border: 1px solid #323232;
  background-color: #323232;
}

.subscribe {
  width: 100%;

  margin-bottom: 60px;
}

.subscribe__input {
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}

.subscribe__btn {
  padding: 18px;
  width: 100%;

  color: #ffffff;
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.tags {
  width: 100%;
  margin-bottom: 60px;
}

.tags__list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  margin-bottom: 6px;
  margin-right: 6px;

  font-family: 'OpenSans-b';
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid #eeeeee;
  padding: 8px 15px;
}

.tags__item:hover {
  border: 3px solid #b59f5b;
}

.tags__item a:hover {
  text-decoration: none;
}

.themes {
  width: 100%;

  margin-bottom: 60px;
}

.themes__list {
  list-style: none;
}

.themes__item {
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;

  font-family: 'OpenSans-b';
  font-size: 14px;
}

.themes__item a:hover {
  text-decoration: none;
  color: #b59f5b;
}

.themes__item sup {
  font-size: 12px;
  color: #b59f5b;
}

/* Products */

.products-cards {
  display: flex;
  justify-content: space-between;
}

.product__card {
  box-sizing: border-box;
  padding: 0 25px;
  width: 350px;
  min-height: 440px;
}

.card__img {
  width: 100%;

  margin-bottom: 20px;
}

.card__border .card__heading {
  margin-bottom: 8px;
}

.card__txt {
  font-size: 15px;
  line-height: 150%;
}

.card__link {
  color: #b59f5b;
}

.card__bottom {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-family: 'OpenSans-b';
  font-size: 20px;
}

.sale-pillow::before {
  content: '1000 Р';
  margin-bottom: -5px;
  display: block;
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-decoration: line-through;
}

.sale-border::before {
  content: '500 Р';
  margin-bottom: -5px;
  display: block;
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-decoration: line-through;
}

.card__btn {
  padding: 19px 30px;

  border: none;
  background-color: #b59f5b;

  font-family: 'OpenSans-b';
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.card__btn:hover {
  text-decoration: none;
  background-color: #323232;
}

.card__border {
  position: relative;
  z-index: 1;
}

.card__border::before {
  z-index: -1;
  position: absolute;
  top: -50px;
  right: -25px;
  left: -25px;
  height: 270px;

  content: "";
  border: 3px solid #b59f5b;
}

/* Footer */

.footer__socials {
  padding: 31px 0;
  margin-bottom: 74px;

  background-color: #f4f7f6;

  display: flex;
  justify-content: center;

  list-style-type: none;
}

.socials__icons img {
  width: 25px;
  height: 21px;
}

.socials__icons:nth-of-type(n+2) {
  margin-left: 30px;
}

.copyright {
  padding-bottom: 50px;

  color: #999999;
  font-size: 12px;
  text-align: center;
}