@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans-b';
  src: url('../fonts/OpenSans-Bold.woff');
  font-style: normal;
  font-weight: 700;
}

/* Common */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans';
  font-size: 14px;
}

.container {
  margin: 0 auto;

  max-width: 1170px;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Header */

.header {
  position: relative;

  padding-top: 30px;
  padding-bottom: 130px;

  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;

  color: #ffffff;
}

.header::before {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  content: "";
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.header__container_position {
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}

.nav__menu-btn {
  display: none;
}

.nav__logo {
  flex-grow: 3;

  width: 180px;
}

.nav__logo img {
  width: 180px;
  height: auto;
}

.nav__menu-list {
  flex-grow: 1;

  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
}

.header__heading {
  width: 60%;
  margin: 0 auto;

  text-transform: uppercase;
  font-family: 'OpenSans-b';
  font-size: 45px;
  line-height: 160%;
  text-align: center;
}

.main {
  background-color: #ffffff;

  padding-top: 60px;
  padding-bottom: 65px;
}

/* Trends */

.trends {
  margin-bottom: 60px;
}

.trends .trends__heading {
  font-size: 20px;
  margin-bottom: 37px;
}

.trend-items {
  display: flex;
  justify-content: center;
}

.trend__item:nth-of-type(n+2) {
  margin-left: 6px;
}

.trend__item {
  position: relative;
  box-sizing: border-box;
  padding: 135px 20px 15px;
  width: calc(25% - 3px);

  min-width: 280px;

  background-color: #000000;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: end;

  margin-bottom: 6px;
}

.trend__item::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: "";
  background-color: rgba(0, 0, 0, .5);
}

.trend1 {
  background-image: url(../img/trend1.jpg);
}

.trend2 {
  background-image: url(../img/trend2.jpg);
}

.trend3 {
  background-image: url(../img/trend3.jpg);
}

.trend4 {
  background-image: url(../img/trend4.jpg);
}

.trend-post__border {
  position: relative;
  z-index: 2;

  padding: 40px 36px;
  border: 3px solid #b59f5b;
}

.trend-post__border .trend-post__heading {
  color: #ffffff;
  margin-bottom: 0;
}

/* Main */

.main__container_content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.post-list__article:nth-of-type(n+2) {
  margin-top: 50px;
}

.article {
  display: flex;
  justify-content: space-between;
}

.article__img {
  max-width: 380px;
  align-self: center;
}

.article__img img {
  max-width: 100%;
}

.article__text {
  margin-left: 30px;

  max-width: 370px;

  flex-shrink: 2;
}

.article__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  list-style: none;

  font-family: 'OpenSans-b';
  color: #baa66a;
  font-size: 14px;
  text-transform: uppercase;
}

.article__tags a {
  margin-right: 20px;
}

.article__heading {
  margin-bottom: 30px;

  font-family: 'OpenSans-b';
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}

.article__info {
  display: flex;

  margin-bottom: 40px;
}

.article__date {
  align-self: center;

  font-size: 12px;
  color: #888888;

  margin-right: 15px;
}

.article__author {
  font-family: 'OpenSans-b';
  max-width: 250px;
}

.article__news {
  font-size: 15px;
  line-height: 150%;
}

.article__news:nth-of-type(n+2) {
  margin-top: 15px;
}

/* Aside */

.sidebar {
  width: 280px;
}

.new-posts {
  margin-bottom: 50px;
}

.new-posts__news {
  margin-bottom: 20px;
}

.sidebar__heading {
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  position: relative;
  margin-bottom: 47px;
}

.sidebar__heading::after {
  position: absolute;
  bottom: -17px;
  left: 0;
  right: 0;
  margin: 0 auto;

  content: "";
  width: 66px;
  border-bottom: 3px solid #baa66a
}

.new-posts__news {
  display: flex;
  width: 100%;
}

.news__img {
  width: 70px;
}

.news__text {
  margin-left: 20px;
}

.news__heading {
  font-family: 'OpenSans-b';
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
}

.search-form {
  width: 100%;
  margin-bottom: 60px;

  display: flex;
}

.search-form__input {
  flex-grow: 1;
}

.search-form__input_style {
  padding: 15px;

  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
}

.search-form__input_style::placeholder {
  font-size: 13px;
}

.search-form__input_style:focus {
  outline: 1px solid #b59f5b;
}

.search-form__btn {
  width: 48px;
  height: 48px;
  padding: 14px;
}

.btn_style {
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.btn_style:hover {
  border: 1px solid #323232;
  background-color: #323232;
}

.subscribe {
  width: 100%;

  margin-bottom: 60px;
}

.subscribe__input {
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}

.subscribe__btn {
  padding: 18px;
  width: 100%;

  color: #ffffff;
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.tags {
  width: 100%;
  margin-bottom: 60px;
}

.tags__list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  margin-bottom: 6px;
  margin-right: 6px;

  font-family: 'OpenSans-b';
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid #eeeeee;
  padding: 5px 15px;
}

.tags__item:hover {
  border: 3px solid #b59f5b;
}

.tags__item a:hover {
  text-decoration: none;
}

.themes {
  width: 100%;

  margin-bottom: 60px;
}

.themes__list {
  list-style: none;
}

.themes__item {
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;

  font-family: 'OpenSans-b';
  font-size: 14px;
}

.themes__item a:hover {
  text-decoration: none;
  color: #b59f5b;
}

.themes__item sup {
  font-size: 12px;
  color: #b59f5b;
}

/* Products */

.products-cards {
  display: flex;
  justify-content: space-between;
}

.product__card {
  box-sizing: border-box;
  padding: 0 25px;
  width: 350px;
  min-height: 440px;
}

.products__heading {
  font-size: 20px;
}

.card__img {
  display: block;
  width: 100%;

  margin-bottom: 20px;
}

.card__border .card__heading {
  margin-bottom: 8px;
}

.card__txt {
  font-size: 15px;
  line-height: 150%;
}

.card__link {
  color: #b59f5b;
}

.card__bottom {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-family: 'OpenSans-b';
  font-size: 20px;
}

.sale-pillow::before {
  content: '1000 Р';
  margin-bottom: -5px;
  display: block;
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-decoration: line-through;
}

.sale-border::before {
  content: '500 Р';
  margin-bottom: -5px;
  display: block;
  font-family: 'OpenSans-b';
  font-size: 14px;
  text-decoration: line-through;
}

.card__btn {
  padding: 19px 30px;

  border: none;
  background-color: #b59f5b;

  font-family: 'OpenSans-b';
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.card__btn:hover {
  text-decoration: none;
  background-color: #323232;
}

.card__border {
  position: relative;
  z-index: 1;
}

.card__border::before {
  z-index: -1;
  position: absolute;
  top: -50px;
  right: -25px;
  left: -25px;
  height: 270px;

  content: "";
  border: 3px solid #b59f5b;
}

/* Footer */

.footer__socials {
  padding: 31px 0;
  margin-bottom: 74px;

  background-color: #f4f7f6;

  display: flex;
  justify-content: center;

  list-style-type: none;
}

.socials__icons img {
  width: 25px;
  height: 21px;
}

.socials__icons:nth-of-type(n+2) {
  margin-left: 30px;
}

.copyright {
  padding-bottom: 50px;

  color: #999999;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1200px) {

  .container {
    box-sizing: border-box;

    max-width: 768px;
    padding: 0 35px;
  }

  /* Header */

  .header {
    padding-top: 45px;
    padding-bottom: 110px;


    background-image: url(../img/banner-bg-tablet.jpg);
  }

  .nav__logo img {
    width: 160px;
  }

  .nav__menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 80px 30px;

    font-size: 20px;
    background-color: rgba(0, 0, 0, .8);
    transition: all .5s;
  }

  .nav__menu-list li:nth-of-type(n+2) {
    margin-top: 20px;
  }

  .menu-list_active {
    transition: all .5s;
    left: 0;
  }

  .nav__menu-btn {
    display: block;
    width: 24px;

    align-self: center;
  }

  .nav__menu-btn span {
    display: block;

    width: 100%;
    height: 4px;
    background-color: #ffffff;

    transition: all .5s;
  }

  .nav__menu-btn span:nth-of-type(n+2) {
    margin-top: 5px;
  }

  .menu-btn_active span:nth-of-type(n+2) {
    margin-top: -4px;
  }

  .menu-btn_active span:nth-child(1) {
    transform: rotate(-45deg);
  }

  .menu-btn_active span:nth-child(2) {
    display: none;
  }

  .menu-btn_active span:nth-child(3) {
    transform: rotate(45deg);
  }

  .header__heading {
    width: 90%;
    font-size: 40px;
    line-height: 140%;
  }

  .main {
    padding-top: 45px;
    padding-bottom: 15px;
  }

  /* Trends */

  .trends {
    margin-bottom: 45px;
  }

  .trends .trends__heading {
    font-size: 18px;
    margin-bottom: 37px;
  }

  .trend-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .trend__item {
    padding: 75px 20px 15px;
    width: calc(50% - 3px);

    min-height: 260px;

    min-width: 245px
  }

  .trend__item:nth-of-type(n+2) {
    margin-left: 0px;
  }


  .trend__item:nth-of-type(even) {
    margin-left: 6px;
  }

  .trend-post__border {
    padding: 40px 36px 35px;
  }

  /* Main */

  .article {
    display: flex;
    flex-direction: column;
    width: 390px;
  }

  .article:nth-of-type(n+2):before {
    content: "";
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    border-bottom: 3px solid #eeeeee;
  }

  .post-list__article:nth-of-type(n+2) {
    margin-top: 17px;
  }

  .article__img {
    width: 100%;
    align-self: center;

    margin-bottom: 15px;
  }

  .article__heading {
    font-size: 16px;
  }

  .article__text {
    margin-left: 0;

    width: 100%;
  }

  .article__info {
    margin-bottom: 30px;
  }

  /* Aside */

  .sidebar {
    margin-left: 0;
  }

  .sidebar__heading {
    margin-bottom: 40px;
  }

  /* Products */

  .products-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products__heading {
    font-size: 18px;
  }

  .product__card {
    width: 340px;
    min-height: 460px;
    padding: 0 20px;

    margin-bottom: 35px;
  }

  .card__border::before {
    z-index: -1;
    position: absolute;
    top: -50px;
    right: -20px;
    left: -20px;
    height: 270px;

    content: "";
    border: 3px solid #b59f5b;
  }

}

@media (max-width: 749px) {
  .products-cards {
    justify-content: center;
  }

}

@media (max-width: 640px) {

  .container {
    box-sizing: border-box;

    max-width: 360px;
    padding: 0 15px;
  }

  /* Header */

  .header {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 10px;

    height: 100vh;


    background-image: url(../img/banner-mobile.jpg);
    background-position: top
  }

  .nav {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .nav__menu-btn {
    align-self: end;

    margin-bottom: 170px;
    height: 22px;
  }

  .nav__logo {
    flex-grow: 1;

    width: 95%;
  }

  .nav__logo img {
    width: 100%;
  }

  .header__heading {
    font-size: 26px;
    width: 100%;
  }

  .main {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* Trends */

  .trend__item:nth-of-type(even) {
    margin-left: 0;
  }


  .trends .trends__heading {
    font-size: 16px;
    margin-bottom: 37px;
  }

  .trend__item {
    padding: 75px 15px 15px;
    min-height: 240px;
    width: 100%;
  }

  .trend-post__border {
    padding: 35px 25px 30px;
  }

  /* Main */

  .main__container_content {
    flex-direction: column;
    margin-bottom: 45px;
  }

  .article {
    width: 100%;
  }

  .article__img {
    width: 100%;
  }

  .article__heading {
    margin-bottom: 25px;
  }

  .article__text {
    margin: 0 auto
  }

  .article__info {
    margin-bottom: 20px;
  }

  .post-list {
    margin-bottom: 60px;
  }

  /* Aside */

  .sidebar {
    width: 100%;
  }

  .new-posts,
  .search-form,
  .subscribe,
  .tags {
    margin-bottom: 45px;
  }

  .tags__item {
    margin-right: 5px;
    padding: 5px 12px;
  }

  .themes {
    margin-bottom: 0;
  }

  /* Products */

  .products__heading {
    font-size: 16px;
  }

  .card__border::before {
    z-index: -1;
    position: absolute;
    top: -50px;
    right: -25px;
    left: -25px;
    bottom: -30px;
    height: auto;

    content: "";
    border: 3px solid #b59f5b;

  }

  .product__card {
    margin-bottom: 0;
    min-height: auto;
  }

  .product__card:nth-of-type(n+3) {
    margin-top: 0px;
  }

  .product__card:nth-of-type(n+2) {
    margin-top: 55px;
  }

  .products-cards {
    padding-bottom: 40px;
  }

}

@media (max-width: 340px) {
  .card__border::before {
    right: -10px;
    left: -10px;
  }
}